#cat{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}
#cat button{
position: absolute;
top: 700px;
width: 5%;
height: 3vh;
border: none;
color: aliceblue;
font-size: 20px;

}
